*{
  padding: 0px;
  margin: 0px;
}

header{
  padding-left: 30px;
}

.main{
  padding-left: 30px;
}

footer{
  padding-left: 30px;
}

footer ul{
  padding-left: 30px;
}

footer li{
  list-style: upper-roman;
}
